// Page
//------------------------------------------------------------------------------

.page__header {
	padding: 20px;
	width: 100%;
	max-width: 560px;
	margin: auto;

	@media (min-width: 1200px) {
		padding-right: 55px;
		padding-left: 55px;
		// max-width: 1200px;
	}
}

.page__content {
	padding: 0 5px 30px;
	width: 100%;
	max-width: 560px;
	margin: auto;

	@media (min-width: 1200px) {
		padding-right: 40px;
		padding-left: 40px;
		// max-width: 1200px;
	}
}
