// Sync
//------------------------------------------------------------------------------

.sync {
	margin-top: 25px;
	margin-bottom: 30px;

	@media (min-width: 768px) {
		margin-top: 55px;
		margin-bottom: 60px;
	}
}

.sync__auth {
	position: relative;

	&--hidden {
		display: none;
	}

	&::before {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 2;
		content: "";
		top: calc(~"50% - 15px - 35px");
		left: calc(~"50% - 15px");
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid @dark-primary;
		border-right-color: fade(@light-primary, 0);
		border-bottom-color: fade(@light-primary, 0);
		visibility: visible;
		animation-name: spin;
		animation-duration: (@duration * 3);
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
	}

	&::after {
		position: absolute;
		content: "";
		z-index: 1;
		top: -39px;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: @light-primary;
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition: @duration @timing-function;
	}

	&--load {
		&::before {
			opacity: 1;
			visibility: visible;
		}

		&::after {
			opacity: 0.9;
			visibility: visible;
		}
	}
}

.sync__btn {
	display: flex;
	justify-content: center;

	.btn[data-provider="facebook"] {
		background-color: #3B5998;
		color: @light-primary;
		fill: @light-primary;
		min-width: 44px;
		margin: 5px;

		body:not(.mobile) &:hover /*,
		body:not(.mobile) &:focus */ {
			background-color: darken(#3B5998, 5%);
		}

		svg {
			width: 30px;
			height: 30px;
			margin: -4px -3px -9px -9px;
		}
	}

	.btn[data-provider="twitter"] {
		background-color: #1DA1F3;
		color: @light-primary;
		fill: @light-primary;
		min-width: 44px;
		margin: 5px;

		body:not(.mobile) &:hover /*,
		body:not(.mobile) &:focus */ {
			background-color: darken(#1DA1F3, 5%);
		}

		svg {
			width: 30px;
			height: 30px;
			margin: -5px 0 -8px -6px;
		}
	}
}

.sync__user {
	display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 5px;
	text-align: center;

	&--show {
		display: flex;
	}

	.btn {
		min-width: 6px;
	}
}

.sync__hand {
	animation-name: none;
	animation-duration: (@duration * 3);
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-iteration-count: infinite;

	&--spin {
		animation-name: spin;
	}

	svg {
		width: 28px;
		height: 28px;
		margin: -2px -12px;
		display: block;
	}
}

.sync__logout svg {
	width: 25px;
	height: 25px;
	margin: -0.5px -11.5px -0.5px -9.5px;
	display: block;
}

.sync__ava {
	position: relative;
	width: 75px;
	height: 75px;
	background-color: @light-secondary;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	margin: 0 25px;
	transition-property: box-shadow;
	transition: @duration @timing-function;

	&[data-sync="process"] {
		box-shadow: inset 0 0 15px 1px @sync-process;
	}

	&[data-sync="ok"] {
		box-shadow: inset 0 0 15px 1px @sync-ok;
	}

	&[data-sync="fail"] {
		box-shadow: inset 0 0 15px 1px @sync-fail;
	}
}

.sync__name {
	width: 100%;
	margin-top: 20px;
}

.sync__updated {
	.small;
	width: 100%;
	margin-top: 15px;
	color: @dark-secondary;
}

.sync__message {
	display: none;
	word-wrap: break-word;
	text-align: center;
	width: 100%;
	max-width: 390px;
	margin: 20px auto;
	padding: 15px;
	border-radius: @border-radius;

	&--fail {
		color: @sync-fail;
		background-color: lighten(@sync-fail, 30%);
	}
}
