// Sync
//------------------------------------------------------------------------------

.sync {
	margin-top: 25px;
	margin-bottom: 30px;

	@media (min-width: 768px) {
		margin-top: 55px;
		margin-bottom: 60px;
	}
}

.sync__auth {

}

.sync__user {
	display: none;
}
