// Board
//------------------------------------------------------------------------------

.board__header {
	padding: 20px;
	width: 100%;
	max-width: 560px;
	margin: auto;
}

.board__lists {
	padding: 0 5px 30px;
	width: 100%;
	max-width: 560px;
	margin: auto;
}
