// Task
//------------------------------------------------------------------------------

.task {
	display: flex;
	margin-top: -1px;

	&--add {
		border-radius: 0 0 @list-radius @list-radius;
		font-size: @font-size-small;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-top: 0;
		border-top: 1px solid transparent;
	}

	&--fixed {
		position: fixed;
		border-radius: 0;
		background-color: fade(@list-bg, 97%);
		left: 5px;
		right: 5px;
		width: auto;
		z-index: 1;
		border-top-color: @list-border-color;

		@media (min-width: 560px) {
			left: auto;
			right: auto;
			width: 100%;
			max-width: 550px;
		}
	}
}

.task__status {
	width: 43px;
	position: relative;
	cursor: pointer;

	.task--add & {
		cursor: default;
		border-top: 1px solid transparent;
	}

	.task--fixed & {
		border-top-color: @list-border-color;
	}
}

.task__check {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&::before {
		position: absolute;
		width: 17px;
		height: 17px;
		content: "";
		top: 12px;
		left: 15px;
		border-radius: 50%;
	}

	&::before {
		background-color: @list-border-color;

		.task[data-completed="1"] & {
			background-color: lighten(@text-green, 15%);
			transform: scale3d(0.4117, 0.4117, 1);
		}
	}

	&:hover::before {
		background-color: darken(@list-border-color, 10%);

		.task[data-completed="1"] & {
			background-color: @text-green;
		}
	}
}

.task__plus {
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	bottom: 0;
	fill: darken(@list-border-color, 13%);

	.task--focus & {
		fill: darken(@list-border-color, 30%);
	}

	svg {
		position: absolute;
		width: 25px;
		height: 25px;
		top: 8px;
		left: 11px;
	}
}

.task__name {
	padding: 9px 0 7px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	flex: 1 0 0;
	border-bottom: 1px solid @list-border-color;

	.task--add & {
		border-bottom: 0;
		padding-top: 8px;
		border-top: 1px solid @list-border-color;
	}
}

.task__input {
	border: 0;
	padding: 0;
	width: 100%;
	outline: none;
	margin: -8px 0 -7px 0;
	padding: 8px 0 7px 0;
	height: 39px;
	cursor: default;
	mask-image: linear-gradient(90deg, #000 95%, rgba(0, 0, 0, 0));

	&:focus,
	.task--add & {
		cursor: text;
	}

	.task--add & {
		width: calc(~"100% - 39px");
	}

	.task[data-completed="1"] & {
		text-decoration: line-through;
		color: @text-lighten;
	}
}

.task__options {
	width: 39px;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid @list-border-color;
}

.task__trash {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	fill: lighten(@text-red, 20%);

	&:hover {
		fill: @text-red;
	}

	svg {
		position: absolute;
		width: 25px;
		height: 25px;
		top: 8px;
		left: 5px;
		opacity: 0;

		.task:hover &,
		.mobile & {
			opacity: 1;
		}
	}
}
