// General
//------------------------------------------------------------------------------

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	cursor: default;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}

body {
	font-size: @font-size;
	line-height: @line-height;
	font-family: @font-family;
	color: @dark-primary;
	fill: @dark-primary;
	overflow-x: hidden;
	background-color: @board-bg;

	@media (min-width: 992px) {
		overflow-x: initial;
	}
}

input {
	background-color: transparent;
	line-height: @line-height;
	color: @dark-primary;
	border: 0;
	outline: none;
	width: 100%;
	padding: 0;

	&::placeholder {
		color: @dark-disabled;
	}
}

button,
.btn {
	outline: none;
	display: inline-block;
	text-decoration: none;
	border: 0;
	border-radius: (@border-radius / 2);
	background-color: @btn-bg;
	padding: 10px 15px;
	color: @light-primary;
	fill: @light-primary;
	cursor: pointer;
	line-height: @line-height;
	position: relative;
	min-width: 200px;

	&:hover {
		background-color: @btn-bg-hover;
	}

	&:active {
		top: 1px;
	}
}

.hidden {
	display: none;
}
