// General
//------------------------------------------------------------------------------

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	cursor: default;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-size: @font-size;
	line-height: @line-height;
	font-family: @font-family;
	color: @dark-primary;
	fill: @dark-primary;
	overflow-x: hidden;
	background-color: @board-bg;

	@media (min-width: 992px) {
		overflow-x: initial;
	}

	&.mobile {
		user-select: none;
	}
}



// Headers
//------------------------------------------------------------------------------

h1 {
	font-family: Verdana, @font-family;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	position: relative;
	line-height: 30px;
	letter-spacing: 1px;
}

h2,
.h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	font-family: Verdana, @font-family;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
	position: relative;
	letter-spacing: 1px;

	@media (min-width: 768px) {
		margin-bottom: 25px !important;
	}
}

h3 {
	margin-top: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	font-family: Verdana, @font-family;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 1px;
}



// Links
//------------------------------------------------------------------------------

a {
	text-decoration: none;
	color: @link-color;

	body:not(.mobile) &:hover {
		color: @link-color-hover;
	}
}



// Buttons
//------------------------------------------------------------------------------

.btn {
	outline: none;
	display: inline-block;
	text-decoration: none;
	border: 0;
	border-radius: (@border-radius / 2);
	padding: 10px 20px;
	cursor: pointer;
	line-height: @line-height;
	position: relative;
	min-width: 180px;
	text-align: center;

	body:not(.mobile) &:active {
		top: 1px;
	}

	&--default {
		border: 1px solid @dark-disabled;
		padding: 9px 19px;
		background-color: @btn-default-bg;
		color: @dark-primary !important;
		fill: @dark-primary !important;

		body:not(.mobile) &:hover {
			background-color: @btn-default-bg-hover;
		}
	}

	&--primary {
		background-color: @btn-primary-bg;
		color: @light-primary !important;
		fill: @light-primary !important;

		body:not(.mobile) &:hover {
			background-color: @btn-primary-bg-hover;
		}
	}

	&--danger {
		background-color: @btn-danger-bg;
		color: @light-primary !important;
		fill: @light-primary !important;

		body:not(.mobile) &:hover {
			background-color: @btn-danger-bg-hover;
		}
	}
}



// Forms
//------------------------------------------------------------------------------

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input[type="text"] {
	background-color: transparent;
	line-height: @line-height;
	color: @dark-primary;
	border: 0;
	outline: none;
	width: 100%;
	padding: 0;

	&::placeholder {
		color: @dark-disabled;
	}
}

select {
	background-color: transparent;
	line-height: @line-height;
	color: @dark-primary;
	border: 0;
	outline: none;
	padding: 0 18px 0 5px;
	margin: 0 -5px;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 32.4l-9.7-9.7 1.4-1.4 8.3 8.3 8.3-8.3 1.4 1.4z' fill='%23212121'/%3E%3C/svg%3E") !important;
	background-position: calc(~"100% + 3px") calc(~"50% - 1px");
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

textarea {
	width: 100%;
	color: @dark-primary;
	line-height: @line-height;
	outline: none;
	padding: 10px 15px;
	resize: vertical;
	border-radius: (@border-radius / 2);
	border: 1px solid @list-border;
}



// Base
//------------------------------------------------------------------------------

p {
	margin-top: 0;
	margin-bottom: 15px;
}

svg {
	transform: translateZ(0);
}



// Helpers
//------------------------------------------------------------------------------

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.small {
	font-size: @font-size-small;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pt-sm-10 {
	@media (min-width: 768px) {
		padding-top: 10px;
	}
}

.list-custom {
	padding-left: 23px;
	list-style: none;
	margin-bottom: 15px;

	li {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			position: absolute;
			margin-left: -23px;
			opacity: 0.5;
		}
	}
}

ul.list-custom li::before {
	content: '—';
}

ol.list-custom {
	counter-reset: code;

	li::before {
		counter-increment: code;
		content: counter(code)".";
	}
}



// Animation
//------------------------------------------------------------------------------

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -10px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 10px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fallIn {
	0% {
		opacity: 0;
		transform: scale3d(1.05, 1.05, 1);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

// @keyframes spin {
// 	0% {
// 		transform:rotate(0deg);
// 	}

// 	100% {
// 		transform:rotate(360deg);
// 	}
// }
