// General
//------------------------------------------------------------------------------

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	cursor: default;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-size: @font-size;
	line-height: @line-height;
	font-family: @font-family;
	color: @dark-primary;
	fill: @dark-primary;
	overflow-x: hidden;
	background-color: @board-bg;

	@media (min-width: 992px) {
		overflow-x: initial;
	}

	&.mobile {
		user-select: none;
	}
}

svg {
	transform: translateZ(0);
}

h1 {
	font-family: Verdana, @font-family;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	position: relative;
	line-height: 30px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	font-family: Verdana, @font-family;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
	position: relative;

	@media (min-width: 768px) {
		margin-bottom: 25px !important;
	}
}

h3 {
	margin-top: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 15px;

	@media (min-width: 768px) {
		margin-bottom: 25px !important;
	}
}

p {
	margin-top: 0;
	margin-bottom: 15px;

	@media (min-width: 768px) {
		margin-bottom: 25px;
	}
}

a:not(.btn) {
	text-decoration-skip: ink;
	text-decoration-color: fade(@link-color, 30%);
	color: @link-color;

	body:not(.mobile) &:hover {
		color: @link-color-hover !important;
		text-decoration-color: fade(@link-color-hover, 30%) !important;
	}
}

input[type="text"] {
	background-color: transparent;
	line-height: @line-height;
	color: @dark-primary;
	border: 0;
	outline: none;
	width: 100%;
	padding: 0;

	&::placeholder {
		color: @dark-disabled;
	}
}

button,
.btn {
	outline: none;
	display: inline-block;
	text-decoration: none;
	border: 0;
	border-radius: (@border-radius / 2);
	background-color: @btn-bg;
	padding: 10px 15px;
	color: @light-primary;
	fill: @light-primary;
	cursor: pointer;
	line-height: @line-height;
	position: relative;
	min-width: 200px;

	body:not(.mobile) &:hover {
		background-color: @btn-bg-hover;
	}

	body:not(.mobile) &:active {
		top: 1px;
	}
}



// Helpers
//------------------------------------------------------------------------------

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.list-custom {
	padding-left: 23px;
	list-style: none;
	margin-bottom: 15px;

	@media (min-width: 768px) {
		margin-bottom: 25px;
	}

	li {
		margin-bottom: 5px;

		@media (min-width: 768px) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			position: absolute;
			margin-left: -23px;
			opacity: 0.5;
		}
	}
}

ul.list-custom li::before {
	content: '—';
}

ol.list-custom {
	counter-reset: code;

	li::before {
		counter-increment: code;
		content: counter(code)".";
	}
}
