// Variables
//------------------------------------------------------------------------------

// Core
@font-size: 16px;
@font-size-small: 14px;
@line-height: 24px;
@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Text color
@text-color: #24292e;
@text-gray: #6a737d;
@text-lighten: #a3aab1;
@text-red: #cb2431;
@text-green: #2CBE4E;
@text-blue: #0373d6;
@text-yellow: #ffe733;

// List
@list-bg: #fff;
@list-border: #eaecef;
@list-radius: 4px;

// Grid
@grid-bg: #f6f8fa;
@grid-today-bg: fade(@grid-bg, 98%); //#DCFFE4;
@grid-today-border: darken(@list-border, 5%); //#BFDDC7;
