// Variables
//------------------------------------------------------------------------------

// Core
@bg-color: #fafbfc;
@font-size: 16px;
@font-size-small: 14px;
@line-height: 24px;
@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Text color
@text-color: #24292e;
@text-gray: #6a737d;
@text-lighten: #a3aab1;
@text-red: #cb2431;
@text-green: #165c26;

// List
@list-bg: #fff;
@list-dates-bg: #f6f8fa;
@list-border-color: #eaecef;
@list-radius: 4px;

// Todo
@todo-active: #ffffdd;
