// Logo
//------------------------------------------------------------------------------

.logo {
	color: @logo-light;

	header & {
		animation-name: none;
		animation-duration: @duration;
		animation-timing-function: @timing-function;
		animation-fill-mode: both;

		.ready & {
			animation-name: fadeInDown;
		}
	}

	h1,
	h2 {
		padding: 0 13px;
		letter-spacing: 2px;

		&::before {
			position: absolute;
			content: "";
			width: 7px;
			height: 7px;
			border-radius: 50%;
			top: 12px;
			left: -1px;
			background-color: @logo-pea;
		}

		&::after {
			position: absolute;
			content: "β";
			text-transform: lowercase;
			top: -10px;
			right: 4px;
			font-size: 10px;
			letter-spacing: 1px;
			opacity: 0.5;
		}
	}

	&--dark {
		color: @logo-dark;
	}

	&--big {
		h2 {
			padding: 0 18px;
			letter-spacing: 4px;

			&::before {
				width: 10px;
				height: 10px;
				top: 10px;
			}

			&::after {
				display: none;
			}
		}
	}

	&--center {
		display: flex;
		justify-content: center;
	}
}
