// Grid
//------------------------------------------------------------------------------

.grid {
	display: none;

	@media (min-width: 1200px) {
		display: flex;
	}
}

.grid__date {
	width: 40px;
	border-top: 1px solid @list-border;
	border-left: 1px solid @list-border;
	border-bottom: 1px solid @list-border;
	position: relative;
	text-align: center;
	cursor: pointer;

	&:first-child {
		width: 41px;
		border-left-width: 2px;
	}

	&--past {
		background-image: linear-gradient(135deg, transparent 3px, lighten(@text-lighten, 20%) 3px, transparent 4px);
		background-size: 5px 5px;
		background-repeat: repeat;
		background-position: 50%;
		cursor: default;
		color: @text-lighten;
	}

	&--today {
		background-color: @grid-today-bg;
		border-right: 1px solid @grid-today-border;
		border-color: @grid-today-border !important;
		width: 41px;
		margin-right: -1px;
		z-index: 1;

		.task--add.task--fixed & {
			margin-top: -1px;
			border-top-width: 2px;
		}
	}

	&--bull,
	&--completed {
		&::before {
			border: 2px solid;
			position: absolute;
			content: "";
			width: 11px;
			height: 11px;
			border-radius: 50%;
			top: 14px;
			left: 14px;
		}
	}

	&--bull {
		&::before {
			border-color: darken(@list-border, 14%);
			background-color: darken(@list-border, 14%);

			.grid__date--past& {
				border-color: lighten(@text-red, 45%);
				background-color: lighten(@text-red, 45%);
				transform: scale3d(0.6363, 0.6363, 1);
			}

			.grid__date--today:not(.grid__date--completed)& {
				border-color: @text-yellow;
				background-color: @text-yellow;
			}
		}

		&:not(.grid__date--past):not(.grid__date--completed):hover::before {
			border-color: darken(@list-border, 24%);
			background-color: darken(@list-border, 24%);
		}

		&.grid__date--today:not(.grid__date--completed):hover::before {
			border-color: darken(@text-yellow, 13%);
			background-color: darken(@text-yellow, 13%);
		}

		.task--completed .grid__date:not(.grid__date--past):not(.grid__date--today)&::before {
			opacity: 0;
		}
	}

	&--completed {
		cursor: default;

		&::before {
			border-color: lighten(@text-green, 15%);
			background-color: lighten(@text-green, 15%);
			transform: scale3d(0.6363, 0.6363, 1);

			.grid__date--past& {
				border-color: lighten(@text-green, 40%);
				background-color: lighten(@text-green, 40%);
			}
		}
	}

	.list__head & {
		border-top-width: 0;
		border-bottom-width: 2px;
		padding: 8px 0 7px;
		cursor: default;

		&--holiday::before {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			bottom: -2px;
			height: 2px;
			background-color: lighten(@text-red, 20%);
			z-index: 1;
		}

		&--holiday + .grid__date--holiday:not(.grid__date--today)::before {
			left: -1px;
		}
	}

	.task--add & {
		border-bottom-width: 0;
		cursor: default;
	}

	.task--fixed & {
		border-top-color: @list-border;
	}

	.task--completed & {
		cursor: default;
	}
}
