// Grid
//------------------------------------------------------------------------------

.grid {
	display: flex;
}

.grid__date {
	width: 40px;
	border-top: 1px solid @grid-border;
	border-left: 1px solid @grid-border;
	border-bottom: 1px solid @grid-border;
	position: relative;
	text-align: center;
	cursor: pointer;

	&:first-child {
		width: 41px;
		border-left-width: 2px;
	}

	&--past {
		background-image: linear-gradient(135deg, fade(@grid-past-bg, 0) 3px, @grid-past-bg 3px, fade(@grid-past-bg, 0) 4px);
		background-size: 5px 5px;
		background-repeat: repeat;
		background-position: 50%;
		cursor: default;
		color: @dark-disabled;
	}

	&--today {
		background-color: @grid-today-bg;
		border-right: 1px solid @grid-today-border;
		border-color: @grid-today-border !important;
		width: 41px;
		margin-right: -1px;
		z-index: 1;

		&:first-child {
			width: 42px;
		}
	}

	&--holiday + &--holiday + & {
		border-left-color: @grid-separator;
	}

	&--holiday + &--holiday&--today {
		border-right-color: @grid-separator !important;
	}

	&--bull,
	&--completed {
		&::before {
			border: 2px solid;
			position: absolute;
			content: "";
			width: 11px;
			height: 11px;
			border-radius: 50%;
			top: 14px;
			left: 14px;
		}
	}

	&--bull {
		&::before {
			border-color: @grid-pea;
			background-color: @grid-pea;

			.grid__date--past& {
				border-color: @grid-pea-past;
				background-color: @grid-pea-past;
				transform: scale3d(0.6363, 0.6363, 1);
			}

			.grid__date--today:not(.grid__date--completed)& {
				border-color: @grid-pea-today;
				background-color: @grid-pea-today;
			}
		}

		body:not(.mobile) &:not(.grid__date--past):not(.grid__date--completed):hover::before {
			border-color: @grid-pea-hover;
			background-color: @grid-pea-hover;
		}

		body:not(.mobile) &.grid__date--today:not(.grid__date--completed):hover::before {
			border-color: @grid-pea-today-hover;
			background-color: @grid-pea-today-hover;
		}

		.task--completed .grid__date:not(.grid__date--past):not(.grid__date--today)&::before {
			opacity: 0;
		}
	}

	&--completed {
		cursor: default;

		&::before {
			border-color: @grid-pea-complete;
			background-color: @grid-pea-complete;
			transform: scale3d(0.6363, 0.6363, 1);

			.grid__date--past& {
				border-color: @grid-pea-past-complete;
				background-color: @grid-pea-past-complete;
			}
		}
	}

	.list__head & {
		border-top-width: 0;
		border-bottom-width: 2px;
		padding: 8px 0 7px;
		cursor: default;

		&--holiday::before {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			bottom: -2px;
			height: 2px;
			background-color: @grid-holiday-border;
			z-index: 1;
		}

		&--holiday + .grid__date--holiday::before {
			left: -1px;
		}
	}

	.task--add & {
		border-bottom-width: 0;
		cursor: default;
	}

	.task--completed & {
		cursor: default;
	}
}
