// Menu
//------------------------------------------------------------------------------

.menu {
	margin: -20px -10px -20px 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	animation-name: none;
	animation-duration: @duration;
	animation-timing-function: @timing-function;
	animation-fill-mode: both;

	.board--load & {
		animation-name: fadeInDown;
	}

	@media (min-width: 768px) {
		margin-right: -15px;
	}
}

.menu__item {
	font-size: @font-size-small;

	.btn {
		width: 35px;
		min-width: 0;
		top: auto !important;
		line-height: 32px;
		padding: 20px 15px 18px;
		text-indent: -9999px;
		color: @menu-link;
		fill: @menu-link;
		background-color: transparent;

		&:hover,
		&:focus,
		.mobile & {
			color: @menu-link-hover !important;
			fill: @menu-link-hover !important;
			background-color: transparent !important;
		}

		@media (min-width: 768px) {
			text-indent: inherit;
			padding-left: 31px;
			width: auto;
		}
	}

	svg {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 22.5px;
		left: 5px;

		@media (min-width: 768px) {
			fill-opacity: 0.5;
		}
	}
}
