// Focus
//------------------------------------------------------------------------------

.focus {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;

	@media (min-width: 768px) {
		margin-top: -30px;
		justify-content: center;
	}
}

.focus__item {
	@media (min-width: 768px) {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		overflow: hidden;
		clip: rect(0 0 0 0);
		white-space: nowrap;
	}

	input + span {
		position: relative;
		display: block;
		cursor: pointer;
		color: @light-primary;
		font-size: @font-size-small;

		@media (min-width: 768px) {
			line-height: 30px;
		}

		body:not(.mobile) & {
			color: fade(@light-primary, 70%);

			&:hover {
				color: @light-primary;
			}
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 50%;
			content: "";
			transform: translate3d(-50%, 0, 0) scaleX(0);
			width: 50%;
			height: 1px;
			background-color: @light-primary;
			opacity: 0;
			transition: @duration @timing-function;
			transition-property: transform, opacity;
		}
	}

	input:checked + span {
		cursor: default;
		color: @light-primary !important;

		&::before {
			opacity: 1;
			transform: translate3d(-50%, 0, 0) scaleX(1);
		}
	}
}
