// List
//------------------------------------------------------------------------------

.list {
	background-color: fade(@list-bg, 97%);
	box-shadow: 0 0 80px fade(@text-color, 10%);
	border-radius: @list-radius;
	position: relative;
	padding-top: 41px;
	padding-bottom: 39px;
}

.list__head {
	display: flex;
	font-size: @font-size-small;
	border-radius: @list-radius @list-radius 0 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;

	&--fixed {
		position: fixed;
		border-radius: 0;
		background-color: fade(@list-bg, 97%);
		left: 5px;
		right: 5px;
		width: auto;

		@media (min-width: 560px) {
			left: auto;
			right: auto;
			width: 100%;
			max-width: 550px;
		}
	}
}

.list__wrap {
	flex: 1 0 0;
	padding: 8px 15px 7px;
	border-bottom: 2px solid @list-border-color;
	position: relative;
}

.list__name {
	color: @text-gray;
	fill: @text-gray;
}

.list__progress {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: lighten(@text-blue, 30%);
	transform: scaleX(0);
	transform-origin: 0 50%;
}
