// Form
//------------------------------------------------------------------------------

.form {
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
}

.form__theme {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: -5px;
	margin-right: -5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	input {
		position: absolute;
		left: -9999px;
	}

	label {
		width: 33.33%;
		position: relative;
		display: block;
		padding: 5px;
	}

	span {
		display: block;
		position: relative;
		padding-bottom: 100%;
		background-color: @light-secondary;
		background-size: cover;
		background-position: 50% 50%;
		cursor: pointer;
		border-radius: (@border-radius / 2);

		body:not(.mobile) &:hover {
			opacity: 0.9;
		}

		body:not(.mobile) &:active {
			top: 1px;
		}
	}

	input:checked + span {
		cursor: default;
		opacity: 1 !important;
		top: 0 !important;

		&::before {
			position: absolute;
			content: "";
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border: 1px solid fade(#fff, 50%);
			border-radius: (@border-radius / 2);
		}
	}
}
