// Form
//------------------------------------------------------------------------------

.form {
	&--storage {
		textarea {
			font-family: "Courier New", monospace;
			border: 0;
			background-color: @board-bg;
			color: @light-primary;
		}
	}
}

.form__options {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.form__group {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid @dark-divider;

	.form__options &:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	&--hidden {
		display: none;
	}

	label {
		flex: 1 0 0;
		padding-right: 15px;
	}
}

.form__checkbox {
	position: relative;
	overflow: hidden;
	height: 24px;

	input {
		position: absolute;
		width: 100px;
		height: 100px;
		z-index: 1;
		opacity: 0;
		cursor: pointer;
	}

	span {
		width: 48px;
		height: 24px;
		background-color: @checkbox-bg;
		display: block;
		border-radius: (@border-radius / 2);
		position: relative;
		transition: (@duration / 2) @timing-function;

		&::before {
			position: absolute;
			content: "";
			top: 1px;
			left: 1px;
			width: 22px;
			height: 22px;
			background-color: @light-primary;
			border-radius: (@border-radius / 4);
			transition: (@duration / 2) @timing-function;
		}
	}

	body:not(.mobile) & input:hover + span::before {
		transform: scale3d(1.1818, 1, 1);
		transform-origin: 0 0;
	}

	input:checked + span {
		background-color: @checkbox-checked-bg;

		&::before {
			transform: translate3d(calc(~"100% + 2px"), 0, 0);
		}
	}

	body:not(.mobile) & input:hover:checked + span::before {
		transform: translate3d(calc(~"100% + 2px"), 0, 0) scale3d(1.1818, 1 ,1);
		transform-origin: 100% 0;
	}
}

.form__theme {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: -5px;
	margin-right: -5px;

	label {
		width: 33.33%;
		float: left;
		position: relative;
		display: block;
		padding: 5px;
	}

	input {
		position: absolute;
		left: -9999px;
	}

	span {
		display: block;
		position: relative;
		padding-bottom: 100%;
		background-color: @light-secondary;
		background-size: cover;
		background-position: 50% 50%;
		cursor: pointer;
		border-radius: (@border-radius / 2);
		transition: @duration @timing-function;

		body:not(.mobile) &:hover {
			opacity: 0.9;
		}

		// body:not(.mobile) &:active {
		// 	top: 1px;
		// }

		&::before {
			position: absolute;
			content: "";
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border: 1px solid fade(#fff, 50%);
			border-radius: (@border-radius / 2);
			transition: (@duration / 2) @timing-function;
			opacity: 0;
			transform: scale3d(0.97, 0.97, 1);
		}
	}

	input:checked + span {
		cursor: default;
		opacity: 1 !important;
		top: 0 !important;

		&::before {
			opacity: 1;
			transform: scale3d(1, 1, 1);
		}
	}
}
